body{
    color: white;
}
.reservations-formss{
    padding: 13px;
    background: linear-gradient(0deg, rgba(2, 81, 18, 0.8), rgba(128, 128, 128, 0.3));
    color: white;
    border: none;
    border-radius: 14px;
    cursor: pointer;
    width: 100%;
    max-width: 200px; /* Limit button width */
    margin: 0 auto;
    box-shadow: 0px 2px 2px rgba(235, 238, 235, 0.5);
}
.reservation-containers {
    max-width: 800px; /* Limite la largeur totale du formulaire */
    margin: 0 auto; /* Centrer le formulaire horizontalement */
    padding: 20px;
  }
  
  .reservation-form {
    display: flex;
    flex-direction: column; /* Place les champs en colonne */
    gap: 20px; /* Ajoute un espace vertical entre les champs */
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  label {
    margin-bottom: 8px; /* Ajoute un espace entre le label et l'input */
    font-weight: bold;
  }
  
  input {
    width: 100%; /* L'input prend toute la largeur du conteneur parent */
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Inclut les bordures et le padding dans la largeur totale */
  }
  
  button {
    padding: 15px;
    font-size: 18px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  